--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
numpy
scipy
pyyaml
wandb
tensorboardx
matplotlib
trimesh
mujoco>=3.4.0
pydantic
gymnasium
tqdm
cloudpickle
protobuf
requests
warp-lang
moviepy
pyglet
mujoco-warp
-e ./newton
